<!DOCTYPE html>
<html>
    <head>
        <title>Foodfy</title>
        <link rel="icon" href="https://img.icons8.com/dusk/344/food-cart.png" type="image/x-icon"/>
        <link rel="stylesheet" href="/style.css">

        {% block head %}
        {% endblock head %}
    </head>
    <body>

        <header>
            <a id="home" href="/"><img src="/assets/logo.png"></a>
            <div>
                <a href="/about" id="link-about">Sobre</a>
                <a href="/recipes" id="link-recipes">Receitas</a>
            </div>
        </header>

        <div id="wrapper">
            {% block content %}
            {% endblock content %}
        </div>

        <footer>Todos os direitos reservados, receitas Foodfy.</footer>

    </body>
</html>