{% extends 'layout.njk' %}

{% block content %}
    <div id="recipe__image-container">
        <img src="{{recipe.image_url}}">
    </div>
    <div id="recipe__info-container">
        <p class="recipe-title">{{recipe.title}}</p>
        <p class="recipe-author">por {{recipe.author}}</p>
    </div>

    <div id="recipe">
        <p class="section-recipe">Ingredientes</p>
        <p class="section-options active" id="ingredients">MOSTRAR</p>
    </div>

    <ul class="ingredients">
        {% for ingredient in recipe.ingredients %}
            <li>{{ingredient}}</li>
        {% endfor %}
    </ul>

     <div id="prepare">
        <p class="section-recipe">Modo de Preparo</p>
        <p class="section-options active" id="preparation">MOSTRAR</p>
    </div>

    <ul class="preparation">
        {% for step in recipe.steps %}
            <li>{{step}}</li>
        {% endfor %}
    </ul>

     <div id="moreInfo">
        <p class="section-recipe">Informações Adicionais</p>
        <p class="section-options active" id="information">MOSTRAR</p>
    </div>

    <ul class="information">
        <li>{{recipe.info}}</li>
    </ul>

    <script src="/scripts.js"></script>
{% endblock content %}